<div class="container-fluid">
  <div class="row">

    <div class="lateral-menu">

      <div class="lateral-menu-header">
        <div class="row text-center" aling="center">
          <div class="col-md-12">
            <img class="img-fluid" height="150" width="150" src="assets/img/logo-exposistema.png" alt="">
            <h1>Bienvenidos</h1>
          </div>
        </div>
      </div>

      <div class="lateral-menu-body">
        <form [formGroup]='formLogin' novalidate><!-- para agregar la etiqueta form  -->
          <div class="col-md-8 offset-md-2" *ngIf='login != true'>
            <div class="form-group">
              <input formControlName='email' name='email' type="email" class="form-control" placeholder="Correo">
            </div>
          </div>

          <div class="col-md-8 offset-md-2" *ngIf='login != true'>
            <div class="form-group">
              <input formControlName='password' name='password' type="password" class="form-control" placeholder="Password">
            </div>
          </div>
          <div class="center">
            <md-spinner *ngIf='login != false' class="login-spinner mb20"></md-spinner>
          </div>

          <div class="col-md-8 offset-md-2">
            <button [disabled]='!formLogin.valid' type="button" (click)="loginApi()" class="btn btn-success col-md-12 ">Acceder</button>
          </div>

        </form>
        <div class="col-md-12 center mt20 text-color1">
          <span class="pointer" [routerLink]="['/reset']">¿Has olvidado tu contraseña?</span>
        </div>
      </div>

    </div>

    <div class="resto-pantalla">
      <div class="card">
        <div>
          <img class="login" src="assets/img/login1-min.jpg" alt="">
          <div class="leyen mt20 pl20">
            <h1>Algún texto alusivo a la plataforma</h1>
          </div>
        </div>
        <!-- <img src="../../../assets/img/login1-min.jpg" class="img-fluid login" alt="">-->

      </div>
    </div>

  </div>
</div>