hr{
    height: 4px!important;
    border-width: 2px;
    margin-bottom: 1px;
}
a:link{
    text-decoration: none;
    color: gray;
}
a:visited{
    color: gray;
}
.img{
    height: 70px;
    width: 70px;
    background-color: #00bd6e;
    margin: 10px;
    text-align: center;
}
.lateral-menu{
    z-index: 20!important;
    width: 22%!important;
    max-width: 22%!important;
    flex: 0 0 22%!important;
    /*-webkit-box-shadow: 3px 3px 8px 4px rgba(59, 59, 59, 0.17);*/
    /*box-shadow: 3px 3px 8px 4px rgba(59, 59, 59, 0.17);*/
    /*padding-top: 20vh;*/

    height: 100vh!important;

}
.lateral-menu-header{

    height: 9vh;
    /*background-color: #25d2b0;*/
    /*box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2)*/
}

.lateral-menu-users{
    height: auto;
}

.lateral-menu-body .card-header{
    background-color: #1abc9c!important;
}

.resto-pantalla{
    width: 78%!important; /*78*/
    max-width: 78%!important;
    flex: 0 0 78%!important;
    height: 100%!important;
    padding: 0px!important;

}

.md-card{
    height: 84vh;/*91 84*/
    background-color: gainsboro;
    overflow-y: scroll;
    overflow-x: hidden;
    padding-left: 10px;
    padding-right: 10px;
}

.nav-header{
    height: 9vh;

}
.nav-footer{
    height: 7vh;
}

.sidemenu-element {
    cursor: pointer;
    height: calc(75vh / 10);/*85vh/10*/
    color: gray;
    padding-top: 15px;
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -ms-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
}

ul.main-navigation-menu{
    padding-left:0px;
    color: gray;
    list-style-type: none;
    height: calc(75vh / 10);/*85vh/10*/
    

    div.col-md-10{
        margin: auto;
    }

    i {
        color: #30a08b;
        font-size: 1.5em;
        margin-left: 10px;
        margin-bottom: 10px;
        margin-top: 5px;
    }
    span{
        margin-top: 5px;
    }




    li:hover{
        cursor: pointer;
        background-color: #3D494F;
        color: white;
        /*padding-left: 10px;*/
        -webkit-transition: all 300ms ease-in-out;
        -moz-transition: all 300ms ease-in-out;
        -ms-transition: all 300ms ease-in-out;
        -o-transition: all 300ms ease-in-out;
        transition: all 300ms ease-in-out;

        i{
            color: white;
        }
        span{
            color: white;
        }
    }

    ul{
        color: gray;
        padding-top: 0px;
        padding-left: 0px;
        margin-left: 45px;
        -webkit-transition: all 300ms ease-in-out;
        -moz-transition: all 300ms ease-in-out;
        -ms-transition: all 300ms ease-in-out;
        -o-transition: all 300ms ease-in-out;
        transition: all 300ms ease-in-out;



        li:hover{
            background-color: #3D494F; /* #1ab99a */
            color: white;
            /*padding-left: 10px;*/
            -webkit-transition: all 300ms ease-in-out;
            -moz-transition: all 300ms ease-in-out;
            -ms-transition: all 300ms ease-in-out;
            -o-transition: all 300ms ease-in-out;
            transition: all 300ms ease-in-out;

            span{
                color: white;
            }
        }
    }
}

.sidemenu-element:hover{
    background-color: #1ab99a;
    color: white;
    /*padding-left: 10px;*/
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -ms-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;

    a:visited {
        color: white;
        font-size: 1.5em;
        margin-left: 10px;
    }

    .fa{
        color: white;
        font-size: 1.5em;
        margin-left: 10px;
    }
}

.sidemenu-element .material-icons {
    color: #30a08b;
}
.sidemenu-element .fa {
    color: #30a08b;
    font-size: 1.5em;
    margin-left: 10px;
}


.in-line{
    display: inline-block;
    padding-bottom: 5px;

}
.active{
    background-color: #1ab99a;
    color: white;
    a{
        color: white;
        i{
            color: white;
        }
    }
    /*padding-left: 10px;*/
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -ms-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
}

li.open ul.sub-menu{
    display: block;
}

ul.sub-menu{

    clear: both;
    list-style: none;
    //padding: 1px 0;
    padding-top: 0px;
    display: none;
    //margin: 0;
    

}

li.open {
    background: #253136!important;
}
.dropdown-toggle{
    color: #253136!important;
}

