<div class="row mt30">
  <div class="col-md-4 pt5 center">
    <div class="card pointer" (click)="open(newOrders)">
      <div class="card-block">
        <span class="mt10">
          <i class="fa fa-globe"></i>
        </span>
        <span class="card-title mt10">{{ 'CONFI.region.title' | translate }}</span>
      </div>
    </div>
  </div>
  <div class="col-md-4 pt5 center">
    <div class="card pointer">
      <div class="card-block" [routerLink]="['/cpanel/config/company']">
        <span class="mt10">
          <i class="fa fa-building-o"></i>
        </span>
        <span class="card-title mt10">{{ 'CONFI.company.title' | translate }}</span>
      </div>
    </div>
  </div>
  <div class="col-md-4 pt5 center">
    <div class="card">
      <div class="card-block">
        <span class="mt10">
          <i class="fa fa-cogs"></i>
        </span>
        <span class="card-title mt10 pointer">{{ 'CONFI.other.title' | translate }}</span>
      </div>
    </div>
  </div>
  
  <div class="col-md-4 pt5 mt20 center">
    <div class="card pointer" [routerLink]="['/cpanel/config/users']">
      <div class="card-block">
        <span class="mt10">
          <i class="fa fa-user"></i>
        </span>
        <span class="card-title mt10">{{ 'CONFI.users.title' | translate }}</span>
      </div>
    </div>
  </div>
</div>

<!-- Modal de configuración regional -->

<ng-template #newOrders let-c="close" let-d="dismiss">
  <div class="modal-header color-2">
    <h4 class="modal-title">{{ 'MODALS.configCountry.add' | translate }}</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <form [formGroup]='formModal' novalidate>
    <div class="modal-body">
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
                <label for="exampleSelect1">País</label>
                <select class="form-control" formControlName='country' name='country' id="exampleSelect1">
                  <option value="">Seleccione una opción</option>
                  <option *ngFor='let item of listaPais' value="{{item.name}}">{{item.name}}</option>
                </select>
              </div>
          </div>
          <div class="col-md-12">
            <div class="form-group">
                <label for="exampleSelect1">Seleccione la moneda</label>
                <select class="form-control" formControlName='currency' name='currency' id="exampleSelect1">
                  <option value="">Seleccione una opción</option>
                  <option value="dolar">Dolar</option>
                  <option value="euro">Euro</option>
                </select>
            </div>
          </div>
        </div>
    </div>
    <div class="modal-footer">
      <button *ngIf='data_user.company_id != null' [disabled]='!formModal.valid' type="button" class="btn btn-secondary" (click)="c('Close click'); updateCompany()">Guardar</button>
      <button type="button" class="btn btn-secondary" (click)="c('Close click');">Cerrar</button>
    </div>
  </form>
</ng-template>