<nav class="navbar fixed-top color-2">

    <ul class="nav justify-content-end">
      <li class="pointer text-color1 nav-item">
        <a class="nav-link text-color1" [routerLink]="['/']">
          <span>
              <i class="fa fa-power-off"></i> Login
          </span>
        </a>
      </li>
    </ul>
    
</nav>
<div class="container-fluid">
    <div class="row">
      <div class="caja">
        <img class="img" src="assets/img/reset-min.jpg" alt="">
      </div>

      <div class="col-md-4 col-sm-8 offset-md-4 offset-sm-2">
          <div class="card">
            <div class="card-header center">
              <span>Ingrese su email</span>
            </div>
            <div class="card-block center">
              <div *ngIf="is_mach != true" >
                <span class="mt10">
                  <i class="fa fa-envelope"></i>
                </span>
              
                <form [formGroup]="form_reset_pass" novalidate>
                
                  <div class="row email">
                      <div class="col-md-10 offset-md-1 mt20">
                        <div class="form-group">
                            <input formControlName="email" name="email" type="email" class="form-control" placeholder="Email">
                        </div>
                      </div>
                    
                      <div class="col-md-10 offset-md-1">
                          <button (click)='searchEmail()' [disabled]='!form_reset_pass.valid' type="button"  class="btn btn-success col-md-12">Enviar</button>
                      </div>
                  </div>
                
                </form>
              </div>
              <div *ngIf="is_mach != false">
                <img src="assets/img/SUCCESS_CYAN.png" alt="">
                <h3 class="mt20">Por favor verifique su bandeja de correo electrónico</h3>
              </div>
            </div>
          </div>
        </div>
    </div>
</div>


