<div class="col-md-3 offset-md-10 mt10">
  <div data-toggle="tooltip" data-placement="top" title="Busqueda" (click)="open(search)" class="btn color-4 btn-circle rounded-circle circle"><i class="fa fa-search"></i></div>
  <div data-toggle="tooltip" data-placement="top" title="Nuevo catálogo" (click)="open(newOrders)" class="btn color-4 btn-circle rounded-circle circle"><i class="fa fa-plus"></i></div>
</div>
<div class="card mt10">
  <div class="card-block">
    <div class="col-md-10 offset-md-1"></div>

    <div class="listaRSS">

      <div class="listaRSS-header">
        <div class="row">
          <div class="col-md-1"><span>ID</span></div>
          <div class="col-md-2"><span>Título</span></div>
          <div class="col-md-2"><span>Destino</span></div>
          <div class="col-md-1"><span>Estado</span></div>
          <div class="col-md-2"><span>Fecha envío</span></div>
          <div class="col-md-2"><span>Hora envío</span></div>


        </div>
      </div>

      <div class="listaRSS-body">
        <div class="listaRSS-element">
          <div class="row">
            <div class="col-md-1 elipsis"><span>0001</span></div>
            <div class="col-md-2 elipsis">pedido terminado</div>
            <div class="col-md-2 elipsis">Caja de Compensación Familiar del Risaralda COMFAMILIAR R</div>
            <div class="col-md-1"><span>activo</span></div>
            <div class="col-md-2"><span>2014-01-27</span></div>
            <div class="col-md-2"><span>08:31:04</span></div>
            <div class="col-md-2">
              <i class="fa fa-eye"></i>
              <i class="fa fa-pencil"></i>
              <i class="fa fa-times-circle-o"></i>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>



<!-- Modal pedido -->

<ng-template #newOrders let-c="close" let-d="dismiss">
  <div class="modal-header color-4">
    <h4 class="modal-title">{{ 'MODALS.alerts.add' | translate }}</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div>
      <div class="row">

        <div class="col-md-12">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Título">
          </div>
        </div>

        <div class="col-md-12">
          <div class="form-group">
            <label for="">Enviar a:</label>
            <select class="form-control" id="exampleSelect2">
              <option>Seleccione</option>
            </select>
          </div>
        </div>

        <div class="col-md-12">
          <div class="form-group">
            <label for="exampleTextarea">Descripción</label>
            <textarea class="form-control" id="exampleTextarea" rows="3"></textarea>
          </div>
        </div>


      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="c('Close click')">Agregar</button>
    <button type="button" class="btn btn-secondary" (click)="c('Close click')">Cerrar</button>
  </div>
</ng-template>

<!-- Modal Busqueda -->
<ng-template #search let-c="close" let-d="dismiss">
  <div class="modal-header color-4">
    <h4 class="modal-title">{{ 'MODALS.alerts.search' | translate }}</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div>
      <div class="row">

        <div class="col-md-12">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Nro. Alerta">
          </div>
        </div>

        <div class="col-md-12">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Nro. Pedido">
          </div>
        </div>

        <div class="col-md-12">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Título">
          </div>
        </div>

        <div class="col-md-12">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Destino">
          </div>
        </div>

        <div class="col-md-12">
          <div class="form-group">
            <label for="">VIP</label>
            <select class="form-control" id="exampleSelect2">
              <option>Seleccione</option>
            </select>
          </div>
        </div>


      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="c('Close click')">Buscar</button>
    <button type="button" class="btn btn-secondary" (click)="c('Close click')">Cerrar</button>
  </div>
</ng-template>